body>p:first-child{
    color: red;
    
}
p.a.c span{
    color: red;
}
p.a.c span>span:first-child{
    color:green;
}
p.a.c span>span:last-child{
    color:blue;
}
/*：foucs要紧跟属性选择器后*/
[tabindex="-1"]:focus{
        color: blue;
}
[tabindex="-1"]:hover{
        color: red;
    }
[tabindex="-1"]:active{
       color: green;
    }
  a:visited {
      color:orange;
  }
  a:link{
      color:pink;
  }
  a[href^="mailto" i]{
      color:blue;
  }
  a[href="tel:12345678"]{
      color: yellow;
  }
  a[href$=".pdf"]{
      font-size: 30px;
  }
